header {
    display: flex;
    width: 100%;
    height: 10vh;
    margin: 1%;
    padding: 2px;
    align-items: center;
    background-color: rgba(4, 11, 46, 0.137);
}

hr {
    margin-left: 0%;
    margin-right: 0%;
}

h1 {
    color: #FD4447;
    text-align: center;
    margin: 3%;
    font-size: 40px;
}

p {
    margin-top: 4%;
    color: white;
    font-size: large;
}

a {
    text-decoration: none;
}

a:visited {
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: blue;
    /* background-color: #ddd; */
    text-decoration: underline;
}

h1 {
    text-align: center;
    color: #FD4447;
    font-size: 40px;
}

p {
    color: white;
    margin: 1%;
}

nav {
    color: white;
    flex: 3;
    overflow: visible;
}

.text {
    font-family: Josefin Sans;
    font-weight: 600;
    margin: 0;
    font-size: 40px;
    color: yellow;
}

.links-for-navigation {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}

body {
    background: #30303A;
    font-family: Roboto;
}

.graphs {
    margin: 5%;
}

button {
    background-color: green;
    color: white;
    font-size: 20px;
    border-radius: 6px;
    margin: 2%;
    cursor: pointer;
}

#stonks {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-right: 1%;
    margin-bottom: 9%;
}

#stonks td,
#stonks th {
    border: 1px solid black;
    padding: 8px;
}

#stonks tr {
    background-color: #f2f2f2;
}


/* #stonks tr:nth-child(even) {
    background-color: #f2f2f2;
}

#stonks tr:nth-child(odd) {
    background-color: #f2f2f2;
} */

#stonks tr:hover {
    background-color: grey;
}

#stonks th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: darkblue;
    color: white;
}