.dropbtn {
    background-color: yellow;
    color: black;
    padding: 20px;
    font-size: 22px;
    border: none;
    cursor: pointer;
    border-radius: 8%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: yellow
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: darkcyan;
}

nav {
    color: white;
    flex: 3;
    overflow: visible;
    border-radius: 1%;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
}

.text {
    font-family: Josefin Sans;
    font-weight: 600;
    margin: 0;
    font-size: 40px;
    color: yellow;
}

.links-for-navigation {
    display: flex;
    justify-content: space-around;
    list-style: none;
}


/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  } */


/* .sticky + .content {
    padding-top: 60px;
  } */