body {
    background-image: url(stockchart.jpg);
    filter: brightness(150%);
    font-family: Arial;
    color: white;
}

header {
    display: flex;
    width: 100%;
    height: 10vh;
    margin: 1%;
    padding: 2px;
    align-items: center;
    background-color: rgba(4, 11, 46, 0.137);
}

body {
    background-image: url(stockchart.jpg);
    filter: brightness(140%);
    font-family: Arial;
    color: white;
}

hr {
    margin: 1%;
}

p {
    font-size: 25px;
}

a {
    text-decoration: none;
}

a:visited {
    background-color: transparent;
    text-decoration: none;
    color: salmon;
}

a:hover {
    color: red;
    /* background-color: #ddd; */
    text-decoration: underline;
}

.stonks-image {
    display: flex;
    flex: 1;
    padding-top: 60px;
}

h1 {
    font-size: 40px;
    color: rgb(158, 23, 140);
}

h2 {
    font-size: 37px;
    color: cyan;
}

.section1 {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 90vh;
    align-items: left;
    color: white;
}

.introduction {
    flex: 1;
}

.intro-text span {
    display: inline-block;
    flex: 1;
    font-size: 50px;
    font-weight: 500;
    color: rgb(158, 23, 140);
    animation: mover 2s linear infinite;
}

@keyframes mover {
    0% {
        text-shadow: 0 0 30px rgba(0, 0, 0, 0);
    }
    50% {
        text-shadow: 0 0 30px rgba(0, 0, 0, 30);
        transform: translateY(30px);
    }
    100% {
        text-shadow: 0 0 30px rgba(0, 0, 0, 0);
    }
}

.intro-text p {
    margin-top: 5px;
    font-size: 31px;
    color: white;
}

.button {
    border-radius: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

button {
    background-color: green;
    color: white;
    font-size: 45px;
    border-radius: 6px;
    margin: 2%;
    margin-top: 4%;
    cursor: pointer;
}

.stonksmeme-image {
    display: flex;
    /* flex: 1; */
    height: 60vh;
    border: 7px solid black;
}

.sections2-5 {
    display: flex;
    /* background-color: white; */
    color: white;
    font-size: 20px;
    width: 100%;
    margin: 1%;
    margin-top: 5%;
}

footer {
    margin: 1%;
    text-align: center;
    padding: 3px;
    color: white;
}

.developers {
    text-align: right;
    color: white;
}